main {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

body {
    background-image: url(https://media.tenor.com/images/911d70f8713972d664876e01acbdefc6/tenor.gif);
    background-color: #cccccc;    
   }
   

nav {
    width: 20%;
    border: 100px solid black
}

section {
    width: 80%;
}